/* Landscape / Desktop ke liye */
@media(min-width: 900px){
    .container {
        padding: 40px 60px;
    }
    .hero {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .hero-text {
        width: 55%;
    }
    .hero-img {
        width: 40%;
        height: 400px;
    }
    .hero-text h1 {
        font-size: 52px;
    }
}

/* Mobile ke liye pehle wala */
@media(max-width: 900px){
    .hero { 
        flex-direction: column; 
        text-align: center; 
    }
    .hero-img { 
        width: 250px; 
        height: 250px; 
        margin-top: 30px;
    }
}
